* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    /* Colors */
    --light-blue: #1992d4;
    --white: #ffffff;
    --black: #101010;
    --gray: #c2c1c1;
    --yellow: #e3b030;
}

body {
    min-height: 100vh;
}

.dashboard {
    background-color: var(--light-blue);
    color: var(--white);
    display: flex;
    flex-direction: column;
}

.dash-icon {
    /* Make svg white */
    filter: invert(92%) sepia(0%) saturate(7500%) hue-rotate(95deg) brightness(112%) contrast(107%);
    height: 10%;
    width: 10%;
}

.dashboard p {
    font-weight: bold;
    font-size: 1.5rem;
}

.dash-main div,
.dash-footer div,
.dash-heading {
    display: flex;
    align-items: center;
    gap: 25px;
}

.header {
    display: flex;
    flex-direction: column;
}

.top-header,
.bottom-header {
    display: flex;
}
.header-icon {
    height: auto;
    width: 10%;
}

.profile-icon {
    height: auto;
    width: 20%;
}

.search,
.notifications,
.profile-info,
.posting {
    display: flex;
    align-items: center;
    gap: 10px;
}

.header p {
    font-weight: bold;
    font-size: 1.2rem;
}

.posting button {
    color: var(--white);
    background-color: var(--light-blue);
    border: solid 2px var(--light-blue);
    padding: 8px;
    border-radius: 50px;
    font-weight: bold;
}

.projects {
    background-color: var(--gray);
}

.projects-heading,
.card-heading {
    font-weight: bold;
}

.card-icons img {
    width: 25px;
}


